.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
body {
  margin: 0;
  padding: 0;
}
.form-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.form-title {
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  width: 100%;
}
